Repository NCATComp410/comp410_fall_2024, pull requests merged in 2024-11, with the labels that each got.

#54 Added ABA_ROUTING_NUMBER test cases
  pii_scan.py
  test_team_dreamteam.py
Labels: DreamTeam

#56 Added IP_Address test cases
  test_team_1.py
Labels: Team1

#59 Added AU_ACN Unit Tests
  pii_scan.py
  test_team_dreamteam.py
Labels: DreamTeam

#61 Added IT_VAT_CODE test cases
  test_team_tech_bros.py
Labels: Tech Bros

#42 Added IN_VEHICLE_REGISTRATION
  test_team_tech_baddies.py
Labels: Techies

#46 Added IT_IDENTITY_CARD test case
  test_team_tech_bros.py
Labels: Tech Bros

#67 merge AU_ACN
  pii_scan.py
  test_team_1.py
  test_team_dreamteam.py
Labels: DreamTeam

#47 Added IN_VOTER test case
  test_team_tech_baddies.py
Labels: duplicate, Techies

#52 Added US_ITIN Test Cases
  test_team_techtitans.py
Labels: TechTitans

#58 Added IN_AADHAAR
  test_team_tech_baddies.py
Labels: Techies

#68 sprint-3 updates
  pii_scan.py
  requirements.txt
Labels: Team Null

#69 sprint-3 updates part2
  pii_scan.py
Labels: Team Null

#71 Fixed pylint warnings
  pii_scan.py
Labels: Team Null

#63 ADDED FISCAL CODE
  test_team_tech_bros.py
Labels: Tech Bros
