Repository NCATComp410/comp410_fall_2024, pull requests merged in 2024-10, with the labels that each got.

#35 Added IN_PAN test cases
  test_team_tech_baddies.py
Labels: Techies

#38 Added IN_PASSPORT test case
  test_team_tech_baddies.py
Labels: Techies

#34 Add testing for CREDIT_CARD PII + bonus
  pii_scan.py
  test_team_new_orleans_fc.py
Labels: New Orleans FC

#36 Added IBAN_CODE test cases
  test_team_1.py
Labels: Team1

#37 ES_NIE test case
  test_team_1.py
Labels: Team1

#40 Add DATE_TIME test cases
  test_team_new_orleans_fc.py
Labels: New Orleans FC

#43 Added EMAIL_ADDRESS test case
  test_team_new_orleans_fc.py
Labels: New Orleans FC

#44 Added MEDICAL_LISENCE test cases
  test_team_new_orleans_fc.py
Labels: New Orleans FC

#39 Added IT_DRIVER_LICENSE test cases
  test_team_tech_bros.py
Labels: Tech Bros

#51 20 detect fi personal identity code
  test_team_1.py
Labels: Team1

#53 9 detect au abn
  test_team_dreamteam.py
Labels: DreamTeam

#49 25 detect us passport
  test_team_techtitans.py
Labels: TechTitans

#57 Added AU_MEDICARE test cases
  test_team_dreamteam.py
Labels: DreamTeam

#50 Added IT Passport Test Cases
  test_team_tech_bros.py
Labels: Tech Bros
